#sidebar-version {
    font-size: 1.1rem;
    font-weight: 600;
    color: #ff5722;
    background-color: #11324b;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

}
